body{
    background: #d2d2c1 url('imagens/fundo.png')  /*cor de fundo*/
    
    font: 16px arial, helvetica, sans-serif
}
#principal{ /*DIV PRINCIPAL*/
    
    width: 900px; /*largura*/
    
}
#menu{ /*DIV MENU*/
    background: #c5c5b2;  /*cor de fundo*/
    padding: 18px ;  /*espaçamento interno*/

}

#conteudo {
    background: e8e8d9; /*cor fundo texto*/
    padding: 10px; /*espaço interno das letras */

}
a { /*linnks da paginas (home,contato...)*/
    color: #4b566a;
    text-decoration: none; /*remover anderline dos links*/
    font-weight: bold;  /*tipos de letras */
    padding: 5px; /*espaço interno entre os links*/

}
.centralizar{ /*centralizando div rodape*/
    text-align: center;

}